/*
Nav color : #465362
Nav Font : #E4EBF2
Btns: #DE643F
Static Card: #9FC490
Cards: #C0DFA1
Cards font: #465362
background page: #E4EBF2


*/
.font-heading-primary {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #e4ebf2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #e4ebf2;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465362;
    width: 95%;
    height: 8%;
    margin-top: 2rem;
    border-bottom: 0.5rem solid #333c48;
    border-radius: 5rem;
}

.main {
    border: 0.2rem solid #333c48;
    width: 95%;
    height: 80%;
    border-radius: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    background-color: rgba(128, 128, 128, 0.174);
    backdrop-filter: blur(100px);
}

.overview {
    /* border: #c0dfa1 solid 0.1rem; */
    background-color: #9fc490cc;
}

.card-size {
    width: 15rem;
    height: 15rem;
    align-self: center;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.white {
    background-color: whitesmoke;
}
.border-card {
    border-top-right-radius: 90px 2px;
    border-top-left-radius: 2px 90px;
    border-bottom-right-radius: 2px 90px;
    border-bottom-left-radius: 90px 1.3px;
    box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
}
